html, body {
    height: 100%;
    margin: 0; 
    padding: 0; 
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

main {
    flex: 1;
}


section {
    max-width: 65em;
    margin: 2em auto;
    padding: 2em;
    background: white;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
}

h2 { color: #333; }

header, footer {
    text-align: center;
    padding: 1em;
    background: #4c3737;
    color: white;
}

a {
    color: #2153d3;
    text-decoration: none;
}